.register{
    height: calc(100vh - 50px);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background:
     url("https://images.unsplash.com/photo-1493166228553-4fa0fdb916e8?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1170&q=80");
    background-size: cover;
    opacity: 0.9;
}
.registerTitle{
    font-size: 50px;
    color: #fff;
}
.registerForm{
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    color:#fff;
}

.registerForm >label{
    margin: 10px 0;
}

.registerInput{
    padding: 10px;
    background-color: rgb(223, 221, 221);
    border: none;
    width: 200px;
    font-size: 13px;
    border-radius: 5px;
}

.registerButton{
    margin-top: 20px;
    cursor: pointer;
    background-color: teal;
    border: none;
    color: white;
    border-radius: 5px;
    padding: 10px;
    width: 80px;
}

.registerLoginButton{
    position: absolute;
    top: 60px;
    right: 20px;
    background-color: lightcoral;
    border: none;
    cursor: pointer;
    padding: 10px;
    color: white;
    border-radius: 10px;
}