.contact{
    width: 100%;
    height: 100vh;
    background-color:#090c31;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #A770EF;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #FDB99B, #CF8BF3, #A770EF);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #FDB99B, #CF8BF3, #A770EF); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

}
main{
    height: 30rem;
    width: 70%;
    padding: 3rem;
    border-radius: 0 200px 200px 0;
    background: #f4c4f3;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #fc67fa, #f4c4f3);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #fc67fa, #f4c4f3); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

}
form{
    margin: 5rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.inputarea{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 60%;
    margin: 0.5rem;
    font-size: 18px;
}

.inputarea label{
    font: 400 1.2rem italic;
    width: 20%;
    margin: 0 1rem;
    color: gray;
}

.inputarea input{
    align-self: stretch;
    width: 80%;
    padding: 1rem;
    border-radius: 5px;
    border: 1px solid rgba(123,123,123,0.6);
    outline: none;
}
.btn{
    margin: 3rem 0;
    padding: 0.7rem;
    border-radius: 5px;
    background-color:#5853ff;
    color: white;
    width: 200px;
    font: 500 1rem white;
    cursor: pointer;
}

.btn:hover{
    opacity: 0.7;
}