.header{
    margin-top: 60px;

}
.headerTitles{
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: 'Roboto', sans-serif;
    color: lightslategray;
}
.headerTitleSm{
    position: absolute;
    top:12%;
    font-size: 30px;
    color: rgb(185, 184, 185);
    border-bottom: 2px solid rgb(207, 206, 210);
}

.headerImg{
    width: 100%;
    height: 650px;
    margin-top: 60px;
    object-fit: cover;
}